.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/pattern-bg-desktop.png");
}
.input {
  margin-bottom: 30px;
}
.info {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  margin-bottom: -35px;
  z-index: 1000;
}
.border {
  border-right: 1px solid gray;
  padding-right: 10px;
}
.title {
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.miniInp{
  border-radius: 10px 0 0 10px;
  border:none;
  padding: 7px;
  outline: none;
}
.btn{
  padding: 7px;
  background-color: black;
  color:white;
  border-radius: 0 10px 10px 0;
  border:none;
  cursor: pointer;
}
.btn:hover{
  background-color: gray;
  color:black
}
.btn:active{
  scale: 1.1;
}
.load{
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.btnMy{
  margin-bottom: 20px;
  background-color: black;
  color:white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.btnMy:hover{
  background-color: gray;
  color:black;
}
.btnMy:active{
  scale: 1.1;
}

.ldsring {
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: ldsring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ldsring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
